Web/Service References/TsmArchiver/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TSMarchiver" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TSMarchiver" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.220.216.50:11001/TSMarchiver/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="IWebService.MxfServerFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:IWebService.SoapFaultBase">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ErrorParameters" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="IWebService.MxfServerFault" nillable="true" type="tns:IWebService.MxfServerFault" />
  <xs:complexType name="IWebService.SoapFaultBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IWebService.SoapFaultBase" nillable="true" type="tns:IWebService.SoapFaultBase" />
</xs:schema>