Web/Service References/TsmArchiver/MxfServerTSMarchiverWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://filmpartners.nl/TSMarchiver/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MxfServerTSMarchiverWebService" targetNamespace="http://filmpartners.nl/TSMarchiver/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://filmpartners.nl/TSMarchiver/Imports">
      <xsd:import schemaLocation="http://10.220.216.50:11001/TSMarchiver/?xsd=xsd0" namespace="http://filmpartners.nl/TSMarchiver/" />
      <xsd:import schemaLocation="http://10.220.216.50:11001/TSMarchiver/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TSMarchiver" />
      <xsd:import schemaLocation="http://10.220.216.50:11001/TSMarchiver/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.220.216.50:11001/TSMarchiver/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="TSMarchiver_doArchiveProject_InputMessage">
    <wsdl:part name="parameters" element="tns:doArchiveProject" />
  </wsdl:message>
  <wsdl:message name="TSMarchiver_doArchiveProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:doArchiveProjectResponse" />
  </wsdl:message>
  <wsdl:message name="TSMarchiver_doArchiveProject_MxfServerFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/TSMarchiver" name="detail" element="q1:IWebService.MxfServerFault" />
  </wsdl:message>
  <wsdl:message name="TSMarchiver_doRetreiveProject_InputMessage">
    <wsdl:part name="parameters" element="tns:doRetreiveProject" />
  </wsdl:message>
  <wsdl:message name="TSMarchiver_doRetreiveProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:doRetreiveProjectResponse" />
  </wsdl:message>
  <wsdl:message name="TSMarchiver_doRetreiveProject_MxfServerFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/TSMarchiver" name="detail" element="q2:IWebService.MxfServerFault" />
  </wsdl:message>
  <wsdl:portType name="TSMarchiver">
    <wsdl:operation name="doArchiveProject">
      <wsdl:input wsaw:Action="http://filmpartners.nl/TSMarchiver/TSMarchiver/doArchiveProject" message="tns:TSMarchiver_doArchiveProject_InputMessage" />
      <wsdl:output wsaw:Action="http://filmpartners.nl/TSMarchiver/TSMarchiver/doArchiveProjectResponse" message="tns:TSMarchiver_doArchiveProject_OutputMessage" />
      <wsdl:fault wsaw:Action="http://filmpartners.nl/TSMarchiver/TSMarchiver/doArchiveProjectMxfServerFaultFault" name="MxfServerFaultFault" message="tns:TSMarchiver_doArchiveProject_MxfServerFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="doRetreiveProject">
      <wsdl:input wsaw:Action="http://filmpartners.nl/TSMarchiver/TSMarchiver/doRetreiveProject" message="tns:TSMarchiver_doRetreiveProject_InputMessage" />
      <wsdl:output wsaw:Action="http://filmpartners.nl/TSMarchiver/TSMarchiver/doRetreiveProjectResponse" message="tns:TSMarchiver_doRetreiveProject_OutputMessage" />
      <wsdl:fault wsaw:Action="http://filmpartners.nl/TSMarchiver/TSMarchiver/doRetreiveProjectMxfServerFaultFault" name="MxfServerFaultFault" message="tns:TSMarchiver_doRetreiveProject_MxfServerFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_TSMarchiver" type="tns:TSMarchiver">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="doArchiveProject">
      <soap:operation soapAction="http://filmpartners.nl/TSMarchiver/TSMarchiver/doArchiveProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="MxfServerFaultFault">
        <soap:fault use="literal" name="MxfServerFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="doRetreiveProject">
      <soap:operation soapAction="http://filmpartners.nl/TSMarchiver/TSMarchiver/doRetreiveProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="MxfServerFaultFault">
        <soap:fault use="literal" name="MxfServerFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MxfServerTSMarchiverWebService">
    <wsdl:port name="BasicHttpBinding_TSMarchiver" binding="tns:BasicHttpBinding_TSMarchiver">
      <soap:address location="http://10.220.216.50:11001/TSMarchiver/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>